---
layout: home
---

<head>
    <title>IzWrites</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="https://resources.izmichael.xyz/assets/tailwind2.css">
</head>

<body>
    {% include header.html %}
    <div class="flex flex-col mx-96">
        {% for post in site.posts %}
        <a class="flex flex-col" href="{{ post.url }}">
            <h1 href="{{ post.url }}" class="text-xl font-bold">{{ post.title }}</h1>
            <p class="text-gray-700 mb-4">By {{ post.author }}</p>
            <p>{{ post.excerpt }}</p>
        </a>
        <div class="divider"></div>
        {% endfor %}
    </div>
    {% include footer.html %}
</body>